@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cookie&family=Fuzzy+Bubbles&family=Lobster&family=Pacifico&family=Redressed&family=Shadows+Into+Light&family=Vujahday+Script&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}





h1 {
  color: #ff6600;
  font-size: 5rem;
  font-weight: 600;
  font-family: 'Shadows Into Light', cursive;
  margin: 0;
}

.form-mail {
  width: 20rem;
  border: groove 3px #ffff;
  border-radius:15px;
  box-shadow: -3px -2px 1px #535366;
  background: #232526;  
  background: linear-gradient(to right, #414345, #232526);  
  opacity: 0.8;  
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  width: 20rem;
}

label {
  font-size: 1.5rem;
  color: #9cc7f3;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

input {
  font-size: 1rem;
  background: transparent;
  box-shadow: 0 -2px 2px rgb(199, 194, 194);
  border-radius: 20px;
  color: #ffff;
}

textarea {
  border-radius: 10px;
  background-color: #a3a8af;
  padding: 0.5rem;
}

button {
  width: 8rem;
  border-radius: 20px;
  font-size: 1.2rem;
  color: green;
  background-color: #9df59d;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: green;
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffff;
}


/*gAllery*/
.TitleGalery {
display: flex;
justify-content: center;
align-items: center;
font-size: 35px;
color: #042f5a;
text-decoration:underline;
}
.Text{
  
  color: #fff;
  font-size: 15px;
}

.wrapper {
  max-width: 1350px;
  padding: 20px 10px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  background-color: #042f5a;
  justify-content: center;
  align-items: center;
}

.wrapper img {
  cursor: pointer;
  flex-wrap: wrap;

  width: 350px;
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.541);
  display: flex;
  align-items: center;
}
.overlay img {
  display: block;
  width: 700px;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 10px 10px 10px rgba(0, 238, 255, 0.5);
}
.overlay > span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #555151;
  z-index: 999;
  cursor: pointer;
}
.overlay-arrows_left {
  display: flex;
  background-color: #6d6d6d;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  left: 0;
  z-index: 999;
}

.overlay-arrows_left svg {
  width: 50px;
  height: 50px;
}

.overlay-arrows_right svg {
  width: 50px;
  height: 50px;
}

.overlay-arrows_right {
  display: flex;
  background-color: #6d6d6d;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  z-index: 999;
}

/*style social*/

.buttons {
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #010935;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
  flex-wrap: nowrap;
}

.buttons a:hover {
  transform: scale(1.2);
}